<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>  
    <rewrite>  
	<rules>
		<rule name="Block default Azure Domain" stopProcessing="true">
		  <match url="(.*)" />
		  <conditions>
			<add input="{HTTP_HOST}" pattern="^(testblockdefaultdns.azurewebsites.net)$" />
		  </conditions>
		  <action type="CustomResponse" statusCode="403" statusReason="Forbidden"
		  statusDescription="Site not accessible" />
		</rule>
	</rules>  

</rewrite>
  </system.webServer>  
</configuration> 